
<div class=container style="text-align:center">
  <h1>
    {{ title }} {{ value }}
  </h1>
</div>
<div class=container>
  <div class="row">
    <h2>Installation</h2>
    <div class="row">
      <p>
        Intall cookie-service dependency through npm.
        <code>npm install cookie-service</code>
      </p>
      <p>After installing, you need to import the main module:
        <code>import {{ '{' }} CookieServiceModule {{ '}' }} from 'cookie-service';</code>
      </p>
    </div>
    <div class="row">
      <p>The full configuration:</p>
        <code>
      import {{ '{' }} CookieServiceModule, CookieConfig {{ '}' }} from 'cookie-service';<br>

      const testLibConfig: CookieConfig = {{ '{' }}<br>
        header: "Cookie Consent Banner",<br>
        message: "We use cookies to provide you the best experience",<br>
        acceptButton: {{ '{' }}<br>
          enable: false,<br>
          accept: 'Got it!'<br>
        {{ '}' }},<br>
        allowtButton: {{ '{' }}<br>
          enable: true,<br>
          allow: 'Allow cookie'<br>
        {{ '}' }},<br>
        declineButton: {{ '{' }}<br>
          enable: true,<br>
          deny: 'Refuse cookie'<br>
        {{ '}' }},<br>
        learnMoreLink: {{ '{' }}<br>
          enable: true,<br>
          learnMore: 'learn more',<br>
          link: 'www.example.com'<br>
        {{ '}' }}<br>
      }<br>

      @NgModule({{ '{' }}<br>
        declarations: [<br>
          AppComponent<br>
        ],<br>
        imports: [<br>
          BrowserModule,<br>
          NgbModule,<br>
          CookieServiceModule,<br>
          CookieServiceModule.forRoot(testLibConfig),
          AppRoutingModule
        ],
        providers: [],
        bootstrap: [AppComponent]
      {{ '}' }})
      export class AppModule {{ '{' }} {{ '}' }}
        </code>
      </div>
    </div>
    <div class="row">
    <h2>Usage</h2>
    <div class="row">
      <p>
        Once the above mentionned step are done, you can use `import {{ '{' }} CookieServiceService {{ '}' }} from 'cookie-service';` in your component to access to the main function.
      </p>
    </div>
    <div class="row">
        <code>
          import {{ '{' }} CookieServiceService {{ '}' }} from 'cookie-service';<br>
          ...<br>
          export class AppComponent {{ '{' }}<br>
            title = 'cookie-service';<br>
            constructor(private cookiemanager: CookieServiceService) {{ '{' }}}<br>
            public rejectCookie() {{ '{' }}<br>
              this.cookiemanager.rejectCookie('UA-12345678-1');<br>
              location.reload();<br>
          {{ '}' }}<br>
        </code>
      </div>
      <br>
      <div class="row">
        <p><code>rejectCookie(input:String)</code> function is meant to delete all the cookies and relauch the web site to display the cookie consent banner.
      
        And in your template, just add: 
          <code>cookie-service</code>
        <b>Notice</b> that you need to provide your GA ID in order to help the library to disbable Google analtycs if the user refuse the use of cookie.
      </p>
      </div>
  </div>
</div>
<br>
<router-outlet></router-outlet>
<lib-cookie-service (isOpened)="onOpen($event)" ></lib-cookie-service>